body {
    background-color: #FFF5DA;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.flex {
    display: flex;
}

.standard-padding {
    padding: 0 305px;
}

.header {
    background-color: rgba(78, 154, 154, 1);
    margin-bottom: 38px;
    height: 70px;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 6fr 4.5fr 1.5fr;
}

.menuLink{
    color: #000;
    text-decoration: none;
    margin: 0 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
}

.intro {
    background: #DAC88A;
    height: 600px;
    padding: 0 220px;
    justify-content: center;
    margin-bottom: 80px;
}

.intro-content {
    align-items: center;
}

.map {
    margin-right: 40px;
}

.signIn-card {
    width: 435px;
    height: 350px;

    background: rgba(255, 245, 218, 1);
    
    border-radius: 20px;
    margin-left: 40px;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
 
.signIn-info {
    flex-direction: column;
    align-items: center;
}

.signUp-info {
    flex-direction: column;
    align-items: center;
}

.signIn-btn {
    display: flex;
    background: rgba(78, 154, 154, 1);
    color: #000;
    border-radius: 25px;
    text-decoration: none;
    width: 150px;
    height: 45px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.signUp {
    color: #000;
    font-size: 16px;
}

.content-box {
    justify-content: center;
    height: 1000px;
    margin-left: 5%;
    margin-right: 5%;
    background: #DAC88A;
    font-size: 200px;
    text-align: center;
}

.footer {
    margin-top: 10%;
    background-color: rgba(78, 154, 154, 1);
    height: 210px;
    align-items: center;
}